<form action="/board/create/callback" method="post">
	<input type="hidden" name="boardId" value="<%= boardId %>">
	<input type="hidden" name="author" value="<%= author %>">
	<div id="articleInfo">
		<p id="atcTitle"><input id="atcTT" type="text" placeholder="제목" name="title" spellcheck="false"></p>
	</div>
	<div id="article">
		<p id="atcMain"><textarea id="atcMT" placeholder="글" name="article" spellcheck="false"></textarea></p>
	</div>
	<p>
		<input type="submit" value="제출" class="cudBtn">
	</p>
</form>